<ion-header>
  <ion-toolbar>
    <ion-title>
      Tela 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-row>
        <ion-col>
          <h2>Primeiro App Com Ionic</h2>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="stacked">Valor 1</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="stacked">Valor 2</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <ion-button color="primary" expand="block">Calcular</ion-button>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="stacked">Resultado</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>
